[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CanonicalFamilyExtra"]
	path = CanonicalFamilyExtra
	url = https://github.com/qiu-hongxiang-david/canonicalfamilyextra
